<section class="side-nav">
    <header class="side-nav__wordmark">
        <h1>Andrew<br/>Hess</h1>
    </header>
    <nav class="side-nav__links">
        <ul>
            <li>Projects</li>
            <li>Resume</li>
            <li>Contact</li>
            <hr>
            <li>Bluemix Finance</li>
            <li>Investment Insights with Watson</li>
            <li>DataWorks / Data Connect</li>
            <li>IBM Controller</li>
            <li>Watson Analytics</li>
        </ul>
    </nav>
</section>